<ul>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Nesciunt recusandae asperiores</li>
  <li>Totam perferendis adipisci</li>
  <li>Earum excepturi sed enim</li>
  <li>Debitis iste provident</li>
  <li>Repellendus saepe qui illo</li>
</ul>

<hr>

<code>.list--unstyled</code>
<ul class="list--unstyled">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Nesciunt recusandae asperiores</li>
  <li>Totam perferendis adipisci</li>
  <li>Earum excepturi sed enim</li>
  <li>Debitis iste provident</li>
  <li>Repellendus saepe qui illo</li>
</ul>

<hr>

<code>.list--inlined</code>
<ul class="list--inlined">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Nesciunt recusandae asperiores</li>
  <li>Totam perferendis adipisci</li>
</ul>